@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

.photoHolder{
  transform: perspective(3000px);
  transform-style: preserve-3d;
  position: relative;
  width: 40vw;
}

.photoHolder::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 150%;
  display: block;
  left: 10%;
  bottom: -12%;
  z-index: 1;
}
.photoHolder::after {
  content: " ";
  position: absolute;
  width: 80%;
  height: 150%;
  display: block;
  left: 10%;
  bottom: -12%;
  transform: rotateX(-10deg);
  transform-origin: center 120%;
  z-index: 30;
}